@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Open+Sans:400,800|Roboto+Mono:400,700');

:root {
    --secondary-bg-color: #424242;
    --primary-bg-color: #fafafa;
    --primary-color: #1565c0;
    --primary-font-color: #424242;
    --secondary-font-color: #fafafa;
}

body {
    background-color: var(--primary-bg-color);
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: var(--primary-font-color);
    height: 100%;
}

nav {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    color: var(--primary-font-color);
}

.container {
    text-align: center;
    margin: auto;
    width: 50%;
    font-size: 18px;
    line-height: 2.4;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 72px;
    letter-spacing: 14px;
    -webkit-text-stroke: 3px black;
    color: var(--secondary-font-color);
    text-shadow: 2px 4px;
    text-align: center;
}

section {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: auto;
}

a {
    font-family: 'Roboto Mono';
    font-weight: 400;
}

/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: darkgreen;
}

/* mouse over link */
a:hover {
    color: hotpink;
    font-weight: 700;
}

/* selected link */
a:active {
    color: blue;
}