/* add normalize.css as css reset */
@import url("normalize.css");
/*@import url('https://fonts.googleapis.com/css?family=Acme|Montserrat');*/
@import url('https://fonts.googleapis.com/css?family=Acme|Montserrat:400,800i');


.container {
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
}

.row {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
}

.row {
  border-radius: 4px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.7)
}

h1 {
  margin: 18px;
  font-family: 'Acme', sans-serif;
  font-size: 48pt;
}

em {
  font-weight: bold;
}

section {
  margin: 10px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li input {
  margin: 0 10px;
}

.centerme {
  text-align: center;
}

#lib-button {
  display: block;
  margin: 40px auto;
  width: 40%;
}

#story {
  width: 85%;
  margin: auto;
  font-size: 22pt;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }

input[type=button] {
  font-size: 1.3em;
  background-color: rgba(219, 228, 225, 0.97);      
  padding: 15px 30px;
  transition: all 500ms ease-in-out;
  cursor: pointer;
 }

 input[type=button]:focus {
   box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.7)
 }