/* background cover image */
body {
	background: url("../img/jupiter.jpg") center center fixed no-repeat;
	background-size: cover;
}

/* adds background image of header txt */
header {
    /* 
        Image found here: 
        http://www.planetary.org/multimedia/space-images/jupiter/orbits-of-jupiters-small.html
    */
    background: url(../img/header-image.png) no-repeat;
	width: 500px;
	height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure {
    margin: auto;
    width: 65%;
    align-items: flex-start;
    align-content: space-around;
    display: flex;
    flex-direction: row;
}

figure figcaption {
    width: 200px;
    padding: 12px;
    background-color: rgba(179, 179, 179, 0.6)
}