@import url('https://fonts.googleapis.com/css?family=Quicksand:800|Roboto:400,700|Lato');

/** START RESET **/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** END RESET **/

:root {
	--red: #DC3522;
	--tan: #D9CB9E;
	--light-gray: #374140;
	--gray: #2A2C2B;
	--black: #1E1E20;
}

html {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	color: var(--grey);
	background-color: var(--tan);
	font-size: 12px;
}

p {
	color: var(--gray);
	font-size: 14pt;
	line-height: 1.5em;
	text-align: justify;
	margin: 10px 0px;
}

h1 {
	color: var(--red);
	font-family: 'Quicksand', Georgia, 'Times New Roman', Times, serif;
	font-weight: 800;
	font-size: 54pt;
	width: 10%;
}
h2 {
	font-family: 'Quicksand', Georgia, 'Times New Roman', Times, serif;
	font-size: 2em;
	font-weight: bold;
	color: var(--light-gray);
}
h3 {
	font-family: 'Quicksand', Georgia, 'Times New Roman', Times, serif;
	font-size: 1.8em;
	font-weight: bold;
	margin: 20px 0px;
	color: var(--gray);
	text-align: left;

	margin: none;
	width: 100%;
}

a:link, a:visited {
	font-family: 'Roboto', monospace;
	font-weight: 700;
	color: var(--light-gray);
	text-decoration: none;
    transition: color 0.5s ease, text-decoration 0.5s ease;
}

a:hover, a:focus, a:active {
	color: var(--red);
	text-decoration: underline;
	text-decoration-color: var(--red);
}

abbr {}

/* specific divs */

.page-wrapper {
    margin: auto;
	width: 83%;
	
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.sidebar, .main, .intro {
	padding: 0px 20px;
}

.main {
	margin-top: 350px;
}

.sidebar {
	text-align: end;
	margin-top: 350px;
}

.sidebar h3 {
	color: var(--red);
	text-align: end;
}

.sidebar li {
	padding: 15px 0px;
	font-size: 12px;
	border-bottom: 1px solid var(--light-gray);
}

.design-name {
	font-size: 18px;
	display: block;
	margin-bottom: 5px;
}

.designer-name {
	font-size: 14px;
}

.design-archives li, .zen-resources li {
	font-size: 14px;
}

.zen-validate-html:link, .zen-validate-html:visited {
    background: url(../../img/zen-garden/html-link.png) no-repeat;
	transition: background-image 0.5s ease;
}
.zen-validate-html:hover, .zen-validate-html:focus, .zen-validate-html:active {
    background: url(../../img/zen-garden/html-hover.png) no-repeat;
	transition: background-image 0.5s ease;
}

.zen-validate-css:link, .zen-validate-css:visited {
    background: url(../../img/zen-garden/css-link.png) no-repeat;
	transition: background-image 0.5s ease;
}
.zen-validate-css:hover, .zen-validate-css:focus, .zen-validate-css:active {
    background: url(../../img/zen-garden/css-hover.png) no-repeat;
	transition: background-image 0.5s ease;
}

.zen-license:link, .zen-license:visited {
    background: url(../../img/zen-garden/cc-link.png) no-repeat;
	transition: background-image 0.5s ease;
}
.zen-license:hover, .zen-license:active, .zen-license:focus {
    background: url(../../img/zen-garden/cc-hover.png) no-repeat;
	transition: background-image 0.5s ease;
}

.zen-accessibility:link, .zen-accessibility:visited {
    background: url(../../img/zen-garden/a11y-link.png) no-repeat;
	transition: background-image 0.5s ease;
}
.zen-accessibility:hover, .zen-accessibility:active, .zen-accessibility:focus {
    background: url(../../img/zen-garden/a11y-hover.png) no-repeat;
	transition: background-image 0.5s ease;
}

.zen-github:link, .zen-github:visited {
	background-image: url(../../img/zen-garden/github-link.png);
	transition: background-image 0.5s ease;
}
.zen-github:hover, .zen-github:active, .zen-github:focus {
    background: url(../../img/zen-garden/github-hover.png) no-repeat;
	transition: background-image 0.5s ease;
}

.zen-validate-html:link, .zen-validate-css:link, .zen-license:link, 
.zen-accessibility:link, .zen-github:link, .zen-validate-html:hover, 
.zen-validate-css:hover, .zen-license:hover, 
.zen-accessibility:hover, .zen-github:hover {
	width: 100px;
	height: 100px;
	background-size: contain;
	background-position:50% 50%;
	background-repeat: no-repeat;
	display: block;
	font-size: 0;
}

header {
	padding: 40px 0px;
	max-width: 370px;
}

footer {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
}
footer a:link {
}

footer a:link, footer a:visited {
}



.sidebar .wrapper {}

.sidebar h3.select {}

.sidebar h3.archives {}

.sidebar h3.resources {}

.sidebar ul {}

.sidebar li a:link {}

.sidebar li a:visited {}

.extra1 {}

@media screen and (max-width: 1023px) {
	p {
		text-align: left;
	}

	.page-wrapper {
		margin: auto;
		width: 95%;
		
		display: flex;
		flex-direction: column;
	}

	.sidebar {
		text-align: left;
		margin-top: 0px;
	}

	.sidebar h3 {
		color: var(--red);
		text-align: left;
	}
	.main {
		margin-top: 0px;
	}
}